@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    width: 100%;
    height: 100vh;
}

.container {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 40px auto;
    background-color: hsl(33, 31%, 94%);
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 650px;
    height: 450px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.image-item {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 80%;
    height: 100%;
    background-image: url("/images/image-product-desktop.jpg");
    background-size: cover;
    box-shadow: -5px -5px 30px rgb(188, 181, 181), 6px 9px 15px rgb(200, 191, 191);
}

.about-item {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    height: 100%;
    border: 1px solid hsl(30, 38%, 92%);
    box-shadow: -5px -5px 30px rgb(188, 181, 181), 6px 9px 15px rgb(200, 191, 191);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    justify-content: flex-start;
    padding: 20px 40px;
    flex-direction: column;
}

.about-item h1 {
    font-size: 35px;
    font-family: 'Fraunces', sans-serif;

}

.about-item p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.title-item {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 4px;
}

#valor-now {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
}

#valor-last {
    font-size: 17px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Fraunces', sans-serif;
}

.btn-add {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: .2s;
    font-weight: 500;
}

.btn-add:hover {
    background-color: rgb(87, 148, 87);
}

@media (min-width: 2560px) {
    .main-content {
        background-color: red;
        width: 1420px;
        height: 900px;
    }

    .about-item{
        font-size: 40px;
    }

    .about-item h1{
        font-size: 70px;
    }

    .about-item p{
        font-size: 40px;
        margin-top: 20px;
    }
    
    #valor-now {
        font-size: 70px;
    }

    #valor-last {
        font-size: 40px;
    }

    svg {
        display: none;
    }

    .btn-add {
        font-size: 40px;
        height: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        background-color: transparent;
    }
}

@media(max-width: 763px) {
    .back {
        height: 700px;
    }

    .main-content {
        height: 700px;
    }

    .container {
        background-color: #fff;
        height: 700px;
        width: 80%;
        margin: 0 auto;
    }

    .main-content {
        flex-direction: column;
        width: 70%;
        height: 700px;
        background-color: #fff;
        padding: 20px;
    }

    .about-item {
        height: 50%;
        width: 90%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 15px;
    }

    .about-item h1 {
        font-size: 27px;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .title-item {
        font-size: 10px;
    }

    .about-item p {
        font-size: 14px;

    }

    .image-item {
        height: 40%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 7px;
        width: 90%;
    
    }

    #valor-now {
        font-size: 25px;
        margin-top: -10px;
    }
}

@media(max-width: 577px) {
    .image-item {
        height: 35%;
        background-position-y: -70px;
    }

    .main-content {
        width: 80%;
    }

}

@media(max-width: 505px){
    .image-item {
        height: 35%;
        background-position-y: -70px;
    }

    .main-content {
        width: 90%;
    }
}

@media(min-width: 320px) and (max-width: 449px){
    .main-content {
        width: 100%;
    }

    .title-item {
        font-size: .8rem;
    }

    .image-item {
        height: 30%;
        width: 100%;
    }

    .about-item{
        width: 100%;
    }

    .about-item h1 {
        font-size: 1.3rem;
    }

    .about-item p{
        font-size: .8rem;
    }

    #valor-now{
        font-size: 1.2rem;
    }

    #valor-last{
        font-size: .9rem;
    }
}

@media(min-width: 280px) and (max-width: 319px) {
    .image-item {
        width: 130%;
        height: 200px;
    }
    
    .about-item {
        width: 130%;
    }

    .about-item p{
        font-size: .8rem;
    }

    .about-item h1{
        font-size: 1.3rem;
    }
}